* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'Poppins', monospace, Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dfdfdf;
}

nav {
  display: flex;
  flex-direction: row;
  box-shadow: none;
  background: none;
}

.logo,
.links {
  width: 50%;
}

.links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-content: center;
  justify-content: center;
}

.links ul li a {
  font-size: 1.3rem;
  font-weight: 585;
  color: #d3d3d3;
  transition: 500ms;
  text-decoration: none;
}

.links ul li a:hover,
.links ul li a:active {
  color: #d90429;
  transition: 450ms;
  font-size: 1.4rem;
  background: none;
}

.mobile {
  list-style: none;
}

.sidenav {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1rem;
  height: 70%;
  border-radius: 20px;
  text-align: center;
}

.landing {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background: linear-gradient(245deg, #050140, #7A01D0);
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.inner {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 1rem;
}

.pika-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
}

.pika {
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 50%;
}

h1,
.description,
.button,
.card-content p {
  margin: auto auto 1rem;
  color: #d3d3d3;
}

.button {
  color: #141414;
}

h1 {
  font-weight: 650;
  font-size: 4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(10) infinite alternate,
    blink 800ms steps(10) infinite normal;
  border-right: 4px solid #000;
}

.description {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

#projects {
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.projects-container {
  scroll-snap-type: mandatory;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  background: none;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 30%;
  border: 3px solid #141414;
}

.card img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.card-content {
  padding: 1rem;
  text-align: center;
  padding: 1rem;

}

.card-content p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
}

span a {
  text-decoration: none;
  color: #00b418;
  font-size: 1.5rem;
}

.button {
  border: none;
  border-radius: 15px;
  background: #d90429;
  padding: 1rem;
  width: auto;
  font-size: 1.4rem;
  font-weight: 550;
  transition: 550ms;
  text-decoration: none;
}

.button:hover,
.button:active,
.button a {
  background: none;
  border: 3px solid #d90429;
  transform: rotate(-5deg);
  font-size: 1.6rem;
  transition: 550ms;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem auto;

}

.border {
  width: 94%;
  border: 3px solid #141414;
  margin: 1rem;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.about-me-image {
  width: 50%;
  margin: 1rem;
  border-radius: 30px;
  padding: 1rem;
}

.about-me-image img {
  width: 100%;
  height: 100%;
}

.about-me-content {
  width: 50%;
  height: auto;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.about-me-content p {
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.about-me-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}

footer {
  background: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
}

footer div {
  margin-bottom: 1rem;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  align-content: center;
  justify-content: center;
}

.social li {
  font-size: 3rem;
  padding: 0 1rem;
}

.social li a {
  color: #dfdfdf;
  transition: 400ms;
}

.social li a:hover {
  color: #d90429;
  font-size: 3.4rem;
  transition: 400ms;
}

.credits {
  color: #dfdfdf;
}

.heart {
  color: #d90429;
  padding: 0 0.4rem;
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 55%;
  }
}

@keyframes blink {
  from {
    border-color: #000;
  }

  to {
    border-color: transparent;
  }
}

@media screen and (max-width:710px) {

  h1,
  .description {
    transform: scale(0.9);
    margin: 0.5rem auto;
  }

  .inner {
    width: 90%;
    margin: auto;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
    margin: 1rem auto;
  }

  .border {
    flex-wrap: wrap;
  }

  .about-me-image,
  .about-me-content {
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    justify-content: flex-end;
    padding-left: 1rem;
  }

  @keyframes typewriter {
    from {
      width: 0%;
    }

    to {
      width: 125%;
    }
  }
}